/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; width: 100%; }

body {
  background-color: #FFF;
  font: 105% "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, pre {
  margin: 1em 2em 1em 10%;
}

p, ul, ol {
  width: 42em;
}

a         { color: #A00; }
a:hover   { color: #000; }
a:visited { color: #006D94; }

table {
  font-size: inherit;
}

table.posts {
  margin-left: 10%;
}

.posts-index-row > td {
  padding-bottom: 0.5em;
}

.posts-index-date {
  color: #aaa;
  text-transform: uppercase;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

h1.title {
  margin-top: 2em;
  display: inline;
}

h1.title a {
  color: #a00;
  text-decoration: none;
}

h1.title a:hover {
  color: #000;
}

a.extra {
  color: #aaa;
  margin-left: 1em;
}

a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.circular {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
}

.headshot {
  margin-top: 2em;
  background: url(/images/headshot.jpg) no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  vertical-align: middle;
}

.contact_image {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

#disqus_thread {
  margin-left: 10%;
  margin-right: 10%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post .highlight {
  background-color: #3f3f3f;
  width: 100%;
}

#post ul, #post ol {
  list-style-position: inside;
}

#post pre {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  margin: 0 0 0 10%;
  padding-left: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  overflow-x: scroll;
  width: 42em;
}
