<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
              <a class="extra" href="/about.html">about</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Mark Campbell<br />
                  Ruby Enthusiast<br />
                  Toronto, Canada<br />
                  me {AT} markcampbell.me
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/Nitrodist/"><img alt="github logo" src="/images/github.png" width="30" height="30" style="vertical-align: middle; width: 30px; height: 30px;" /></a>
                  <a href="http://twitter.com/Nitrodist"><img alt="twitter logo" src="/images/twitter.png" width="30" height="30" style="vertical-align: middle; width: 30px; height: 30px;" /></a>
                  <a href="http://ca.linkedin.com/pub/mark-campbell/33/856/818"><img alt="linked-in logo" src="/images/linkedin.png" width="30" height="30" style="vertical-align: middle; width: 30px; height: 30px;" /></a>
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41059130-1', 'markcampbell.me');
          ga('send', 'pageview');

        </script>
    </body>
</html>
